<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
         id="edu.oregonstate.cope.eclipse.ui.surveyinstalloperation"
         name="Survey Install Operation"
         point="edu.oregonstate.cope.eclipse.installeroperation">
      <provider
            InstallerOperation="edu.oregonstate.cope.eclipse.ui.SurveyOperation">
      </provider>
   </extension>
 <page
            class="edu.oregonstate.cope.eclipse.ui.COPEPreferencePage"
            id="edu.oregonstate.cope.eclipse.ui.projectPreference"
            name="COPE recorder">
      </page>

</plugin>
