<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="edu.oregonstate.cope.eclipse.installeroperation" name="Installer Operation" schema="schema/edu.oregonstate.cope.eclipse.installeroperation.exsd"/>
   <extension-point id="edu.oregonstate.cope.eclipse.workspaceinitoperation" name="Workspace Init Operation" schema="schema/edu.oregonstate.cope.eclipse.workspaceinitoperation.exsd"/>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="edu.oregonstate.cope.eclipse.EarlyStartup"></startup>
   </extension>
   <extension
         point="org.eclipse.jdt.junit.testRunListeners">
      <testRunListener
            class="edu.oregonstate.cope.eclipse.listeners.JUnitListener">
      </testRunListener>
   </extension>
   <extension
         id="edu.oregonstate.cope.eclipse.emailinstalloperation"
         name="Email Install Operation"
         point="edu.oregonstate.cope.eclipse.installeroperation">
      <provider
            InstallerOperation="edu.oregonstate.cope.clientRecorder.installer.EmailInstallOperation">
      </provider>
   </extension>
   <extension
         id="edu.oregonstate.cope.configinstalloperation"
         name="Config Install Operation"
         point="edu.oregonstate.cope.eclipse.installeroperation">
      <provider
            InstallerOperation="edu.oregonstate.cope.clientRecorder.installer.ConfigInstallOperation">
      </provider>
   </extension>

</plugin>
